.subText, .subLinkText, .CheckEmailSubText {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;

}

.subText {
    font-weight: 400;
    text-align: left;

}

.CheckEmailSubText {
    text-align: center;
    font-weight: 400;
}

.subLinkText {
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

@media (max-width: 405px) {
    .forgotBlockContainer {
        max-width: 250px;
    }
}