.checkbox {
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
}

.forgot {
    display: block;
    text-align: right;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: black;
}

.formControl {
    min-width: 300px !important;
    margin: 0px !important;
}

@media (max-width: 405px) {
    .formControl {
        min-width: 250px !important;
    }
}